.App {
  text-align: center;
}

.Menu {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 5em;
}

.break {
  display: flex;
  justify-content: center;
}
.session {
  display: flex;
  justify-content: center;
}
h3 {
  line-height: 0.5;
}

button {
  margin: 10px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
